.photo{
    text-align: center;
}

.Intro_Paragraph{
    text-align: center;
    font-size: 30px;
    list-style-type: none;
}

.button{
    width: 100px;
    height: 50px;
    background-color: rgb(143, 133, 231);
    color: white;
    margin: auto;
    list-style-type: none;
}